:root{
    --background: #020B0D;
    --text: #EAEBEC;
    --text-muted: #CCCCCC;
    --primary: #5CEBDF;
    --primary-muted: #8ECEC9;
    --subheading: #C0FFFA;
    --grey: #B7B7B7;
    --background-secondary: #0E1E25;
    --form-background: #1d3038;
    --button: #00C7B6;
    --button-hover: #5CEBDF;
    --button-text: #083564;
    --scrollbar: #29404a;
}


*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 150ms ease-out;
    font-family: 'Fira Code iScript',monospace;
}
a{
    color: black;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

img{
    max-width: 100%;
    max-height: 100%;   
}

body{
    overflow: hidden;

}

section{
    min-height: 100vh;
    background: var(--background-secondary);
    display: grid;
    place-items: center;
    color: var(--button);
}


main::after{
    content: 'PexCalc';
    font-weight: 900;
    font-size: 1.2rem;
    opacity: 0.25;
    position: absolute;
    z-index: 0;
    top: 1em;
    left: 1em;
}

main{
    position: relative;
    background: var(--background);
    padding: 1em;
    border-radius: 20px;
}

.display{
    margin: 0 auto;
    min-height: 100px;
    font-size: 2.5rem;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: end;
    overflow: hidden;
    max-width: 250px;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.buttons button{
    height: 60px;
    border: 0;
    outline: 0;
    aspect-ratio: 1/1;
    margin: 5px;
    background: var(--form-background);
    color: var(--primary-muted);
    font-weight: 900;
    font-size: 2rem;
    cursor: pointer;
    border-radius: 10px;
}


.buttons button:first-of-type{
    grid-column: span 2;
    aspect-ratio: 0;
}

